GEMINI_API_KEY=AQ.Ab8RN6IPh4xDEO4H0NHSTYu7RzPcTVOdiD0o_l6tTFzzWYR6XQ
MONGODB_URI=mongodb+srv://Arpitiiti:Arpit%4026@cluster0.ep77th5.mongodb.net/ai-learning-assistant?retryWrites=true&w=majority&appName=Cluster0
PORT=8000